.tree {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    font-family: monospace
}

.indent-level-1-child {
    text-indent: 30px;
}

.indent-level-2-child {
    text-indent: 60px;
}

.indent-level-3-child{
    text-indent: 90px;
}

ol {
    counter-reset: item;
    padding: 0;
}

li {
    display: block
}

li:before {
    content: counter(item) " ";
    counter-increment: item
}

li li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

li li li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

li li li li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}